export/
output/
dataRaw/
data_weather/
data/
SIG/
archive/
DB_import/
other_data/
outputImport/
shape/
weather/
Donnees/
Resultats/*


.Rproj.user
.Rhistory
*.html
*~
*.dbf
*.prj
*.qpj
*.shp
*.shx
*.png
*.pdf
*.pjg
*.zip
*.gz
*.Rdata
*.rds
*.zip
*.xls
*.xlsx
#*#
_*
.#*

my*

todo.org
infoDB.txt

#myAnalysis.r#
*.r#
workingLog.txt
